{% extends 'management/base.html' %}

{% block content %}
<div class="container">
        <div class="jumbotron">
            <h1>RSS Crawler</h1>
            <p>
                RSS Crawler is a django app that focuses on querying RSS feeds and downloading articles they refer to.
                Celery Distributed Task Queue framework in junction with RabbitMQ broker and MySQL database enables horizontal scalability
                with a centralized control dashboard.

                <br />
                <br />
                This web interface display only basic information on processed feeds and is meant only as a proof of concept.

                <br />
                <br />

                A task can be scheduled via<a href="/admin/djcelery/periodictask/" class="btn btn-lg btn-link">scheduler</a>.

                <br />
                <br />

                A list of RSS feed urls can be imported via<a href="{% url 'management:feed_load' %}" class="btn btn-lg btn-link">importer</a>.
            </p>
            <p>
            </p>
        </div>
    </div>
{% endblock %}