body {
  /*padding-top: 80px;
  padding-bottom: 40px;
  */
  /*enemu sm to zjebal :)*/
}

.form-signin {
  max-width: 370px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.horizontal-line-custom {
    margin-top: 0;
    margin-bottom: 0;
}

.column-table-custom>tbody>tr>th {
    min-width: 150px;
    text-align: center;
}
.column-table-custom-2>tbody>tr>th {
    text-align: center;
}

.table.column-table-custom {
    margin: 30px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-left-30 {
    margin-left: 30px;
}

.column-table-for-cards>td>ul {
    min-height: 500px;
}
.top-buffer { margin-top:20px; }

#dialog-form-project, #dialog-form-member {
    visibility: collapse;
}

.form-horizontal.user-details {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    padding: 30px;
}

.form-horizontal.user-details .control-label {
    font-weight: normal;
}

.form-horizontal.user-details .form-group div {
    font-size: 15px;
    padding-top: 5px;
    font-weight: bold;
}

.col-sm-9.has-error label dl {
    margin-bottom: 0;
}

.edit-board-empty-column {
    height: 500px;
}

.table-column-header-color {
    border-top: solid 3px;
    margin-top: -8px;
}
.table-filter>tbody>tr>th {
    line-height: 10px;
}

.table-filter>thead>tr>td,
.table-filter>tbody>tr>td {
    padding: 2px 2px 2px 10px;
}

.table-filter>thead>tr>td> a,
.table-filter>tbody>tr>td> a {
    font-size: 12px;
}

.table-filter>tbody {
    border: 2px solid #ddd;
}

.card-description-size {
    font-size: 10px;
}

.card-title-size {
    font-size: 12px;
}

.card-width {
    width: 210px;
}

.narrow-column {
    width: 15px;
}

.error-font {
    color: RED;
    font-weight: bold;
}

.warning-font {
    color: BLUE;
    font-weight: bold;
}

.list-unstyled.card-width {
    margin-bottom: 0;
}

.column-container {
    padding-bottom: 0!important;
}

.column-container .list-group {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loading_bar{ position: absolute; display: none; height: 100%; width: 100%; background: transparent url(../images/ajax-loader-2.gif) no-repeat 50% 50%; }
